<%- include('partials/_header') %>

<div class="d-flex justify-content-center">
  <h3 class="col-6">Bodega en Venta, San Felipe</h3>
</div>

<div class="d-flex justify-content-center">
  <p class="col-6">Sector Suroccidente, Barranquilla Área 147.6 m2</p>
</div>

<div class="d-flex justify-content-center mt-2">
  <div id="carouselExample" class="carousel slide col-6">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/public/images/1.jpg" class="d-block w-100" alt="pic1">
      </div>
      <div class="carousel-item">
        <img src="/public/images/IMG_20241205_112105.jpg" class="d-block w-100" alt="pic2">
      </div>
      <div class="carousel-item">
        <img src="/public/images/IMG_20241205_112137.jpg" class="d-block w-100" alt="pic3">
      </div>
      <div class="carousel-item">
        <img src="/public/images/IMG_20241205_112024.jpg" class="d-block w-100" alt="pic4">
      </div>
      <div class="carousel-item">
        <img src="/public/images/IMG_20241205_112306.jpg" class="d-block w-100" alt="pic5">
      </div>
      <div class="carousel-item">
        <img src="/public/images/IMG_20241205_112341.jpg" class="d-block w-100" alt="pic6">
      </div>
      <div class="carousel-item">
        <img src="/public/images/IMG_20241205_112451.jpg" class="d-block w-100" alt="pic7">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="d-flex justify-content-center">
  <p style="font-family: Quicksand;" class="col-6 mt-4">Bodega ubicada en el barrio San Felipe, al Suroccidente de la ciudad de Barranquilla, consta de salón (con su portón), dos espacios de oficina pequeñas y 1 baño.</p>
</div>

<div class="d-flex justify-content-center">
  <p style="font-family: Quicksand;" class="col-6">Tiene 5 metros de frente y 30 metros de fondo, libre de hipoteca, embargos o cualquier gravámen.</p>
</div>

<div class="d-flex justify-content-center">
  <p style="font-family: Quicksand;" class="col-6">Cuenta con servicios públicos independientes de agua y luz. Se vende en su estado actual.</p>
</div>




</body>
</html>